body {
  background-color: #eff0f3;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.title {
  color: #ff8e3c;
}

.navbar .left a {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: #d9376e;
  font-weight: bold;
  text-decoration: none;
}

.navbar .right {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  color: #2a2a2a;
  font-size: 1.2rem;
}

.navbar .right a:hover {
  color: #d9376e;
}

/* .navbar .right a:active {
  color: #d9376e;
} */

.bar1,
.bar2,
.bar3 {
  background-color: #0d0d0d;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger:hover {
  cursor: pointer;
}

.mobileNav {
  width: 80px;
  background-color: #d9376e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -160px;
  padding: 16px;
  transition: transform 0.3s;
}

.openDrawer {
  transform: translateX(-160px);
}

.mobileNav a {
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  color: #fffffe;
  margin: 16px 0;
}

.mobileNav a:hover {
  text-decoration: underline;
}

.project-grid {
  display: grid;
  grid-template-areas:
    'project-1 project-2 project-3'
    'project-4 project-5 project-6';
  gap: 15px;
  width: 100%;
}

#project-1 {
  grid-area: project-1;
}

#project-2 {
  grid-area: project-2;
}

#project-3 {
  grid-area: project-3;
}

#project-4 {
  grid-area: project-4;
}

#project-5 {
  grid-area: project-5;
}

#project-6 {
  grid-area: project-6;
}

.project {
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  font-weight: bold;
  color: #2a2a2a;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0;
  border-radius: 5%;
  transition: all 0.2s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;
  font-family: 'Cabin', sans-serif;
  border-radius: 5%;
}

.about-content h1 {
  margin: 20px 50px;
  font-size: 1.7rem;
  color: #0d0d0d;
}

.about-content h2 {
  margin: 20px 50px;
  font-size: 1.3rem;
  font-style: italic;
  color: #ff8e3c;
}

.about-container .about-content p {
  color: #2a2a2a;
  margin: 20px 50px;
  font-size: 1.1rem;
}

.about-container .about-content .comic {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  color: #2a2a2a;
  text-align: center;
  margin-top: 100px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: white;
  font-family: 'Cabin', sans-serif;
  border-radius: 5%;
}
.contact-container h1 {
  margin: 20px 50px;
  font-size: 1.7rem;
  color: #0d0d0d;
}

.contact-container .contact-content p {
  color: #2a2a2a;
  margin: 20px 50px;
  font-size: 1.1rem;
}

.contact-container .contact-content p a {
  color: #d9376e;
  text-decoration: none;
  cursor: point;
}

.contact-container .contact-content #phone #gitlink {
  color: #d9376e;
}

@media only screen and (max-width: 1100px) {
  .navbar .left {
    font-size: 2.5rem;
  }

  .container {
    max-width: 100%;
  }
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      'project-1 project-2'
      'project-3 project-4'
      'project-5 project-6';
  }
}

@media only screen and (max-width: 640px) {
  .contact-container {
    margin-top: 180px;
  }

  .contact-container .contact-content h1 {
    font-size: 1.4rem;
  }

  .about-container {
    margin-top: 180px;
  }

  .about-container .about-content h1 {
    font-size: 1.4rem;
  }

  .about-content h2 {
    padding: 0 40px;
    font-size: 1.1rem;
    font-style: italic;
    color: #ff8e3c;
  }
  .about-container .about-content p {
    color: #2a2a2a;
    margin: 10px 30px;
    font-size: 1rem;
  }

  .project-grid {
    margin-top: 180px;
  }
  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #eff0f3;
    width: 100%;
  }

  .navbar .left {
    font-size: 2.2rem;
  }
  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-grid {
    grid-template-areas:
      'project-1 '
      'project-2 '
      'project-3 '
      'project-4 '
      'project-5 '
      'project-6 ';
  }
  .project .overlay {
    font-size: 2rem;
  }
}

.animateBar1 {
  animation: rotateBar1 0.5s;
  animation-fill-mode: forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s;
  animation-fill-mode: forwards;
}

.animateBar3 {
  animation: rotateBar3 0.5s;
  animation-fill-mode: forwards;
}

@keyframes rotateBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes rotateBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
