body {
  background-color: #eff0f3;
  font-family: 'Didact Gothic', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 65px 0;
  max-width: 90%;
  margin: 0 auto;
}

.navbar .left {
  font-size: 50px;
  font-weight: bold;
}

.navbar .right {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right img {
  width: 90px;
  height: 90px;
}

.project-grid {
  display: grid;
  grid-template-areas:
    'project-1 project-1 project-2'
    'project-1 project-1 project-3'
    'project-4 project-5 project-6';
  gap: 15px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

#project-1 {
  grid-area: project-1;
}

#project-2 {
  grid-area: project-2;
}

#project-3 {
  grid-area: project-3;
}

#project-4 {
  grid-area: project-4;
}

#project-5 {
  grid-area: project-5;
}

#project-6 {
  grid-area: project-6;
}

.project {
  position: relative;
  /* width: 300px; */
}

.project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 1%;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0;
  border-radius: 5%;
  transition: all 0.2s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      'project-1 project-1'
      'project-2 project-3'
      'project-4 project-4'
      'project-5 project-6';
  }
}

@media only screen and (max-width: 768px) {
  .project-grid {
    grid-template-areas:
      'project-1 '
      'project-2 '
      'project-3 '
      'project-4 '
      'project-5 '
      'project-6 ';
  }
  .project .overlay {
    font-size: 34px;
  }
}
