body {
  background-color: #eff0f3;
  font-family: 'Didact Gothic', sans-serif;
}

.project {
  margin-top: 300px;
  position: relative;
  width: 300px;
}

.project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20%;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
